body {
    background: rgba(66, 66, 66, 0.082);
}

.title {
    font-weight: 600;
    padding-top: 15px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.logo {
    text-align: center;
}

.logo img {
    width: 70px;
    height: auto;
    margin: auto
}

.viewBtn{
    padding-top: 2em;
    text-align: center;
}
@media only screen and (min-width:768px) {

    .logo{
        border-bottom: 2px solid rgb(241, 241, 241);
    }
    .logo img {
        width: 100%;
        height: auto;
       
    }

    .title {
        font-weight: 600;
        padding-top: 12px;
        font-size: 25px;
        line-height: 30px;
        text-align: left;
    }
}